<!DOCTYPE html>
<html>
<head>
    <title>Login</title>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/updateInput.js"></script>
    {{> facebook}}
	<script src="/js/facebook.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
      <div class="navbar-brand"><h3>Skillet</h3></div>
      <div class="pull-right">
        <a tabindex="0" class="btn" role="button" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="Login using your username and password">
            <span class="glyphicon glyphicon-question-sign"></span>
        </a>
      </div>
</nav>
    <div>
        <img src="/images/skillet_icon.png"alt="icon" class="center" >
    </div>
    <form action="/index">
    <div class="container">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" style="margin-bottom: 15px" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" style="margin-bottom: 15px" placeholder="Enter password" required>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <div class="pull-right">
                <span class="psw"><a href="">Forgot password?</a></span>
            </div>
            <div class="col text-left">
                <a href="/index"><button class="btn btn-lg btn-default" >Login</button ></a>
                <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal">Sign up</button>
            </div>
        </div>
        <p class="facebookLogin">
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>	
		</p>
    </div>
    </form>
    
    <div class="footer navbar navbar-default navbar-fixed-bottom text-center"></div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign Up</h4>
        </div>
        <div class="modal-body">
          <form action="/index">
    <div class="container">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" style="margin-bottom: 15px" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" style="margin-bottom: 15px" placeholder="Enter password" required>
        </div>
        <div class="form-group">
            <div class="col text-left">
                <a href="/index"><button class="btn btn-lg btn-default" >Sign Up</button ></a>
            </div>
        </div>
    </div>
    </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</body>
</html>