<html>
  <head>
  	<title>Review Recipe</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link href="/css/bootstrap.css" rel="stylesheet">
  	<link href="/css/bootstrap-theme.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
  	<script src="/js/bootstrap.js"></script>
    <script src="/js/updateInput.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
        <a type="button" class="btn pull-left" href="/create">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      <div class="navbar-brand"><h3>Review recipe</h3></div>
      <div class="pull-right">
        <a tabindex="0" class="btn" role="button" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="Preview the recipe you just created. Feel free to edit, delete, or save when you are done.">
            <span class="glyphicon glyphicon-question-sign"></span>
        </a>
      </div>
    </nav>

    <div class="container">
      <img src={{imageURL}} class="thumbnail img-responsive img-rounded" style="max-width: 330px">
      <div class="panel panel-default">
        <div class="panel-body"><h3>{{name}}</h3></div>
        <div class="panel-body">
          <h4>Ingredients</h4>
          <ul>
            {{#each ingredients}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="panel-body">
          <h4>Instructions</h4>
          <ol>
            {{#each instructions}}
            <li>{{this}}</li>
            {{/each}}
          </ol>
        </div>
      </div>
      <div class="btn-group btn-group-justified" style="margin-bottom: 80px">
        <a href="#" type="button" class="btn" data-toggle="modal" data-target="#deleteModal" style="color: #DE7C00; border-color: #DE7C00; background-color: #fafafa">Delete</a>
        <a href="/create" type="button" class="btn" style="color: #DE7C00; border-color: #DE7C00; background-color: #fafafa">Edit</a>
        <a href="#" type="button" class="btn btn-default" data-toggle="modal" data-target="#createModal">Done</a>
      </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Delete</h4>
          </div>
          <div class="modal-body">Are you sure you want to delete this recipe? This action cannot be undone.</div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" style="color: #DE7C00; border-color: #DE7C00; background-color: #fafafa">Cancel</button>
            <a href="/"><button type="button" class="btn btn-default">Delete</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Create Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Recipe created</h4>
          </div>
          <div class="modal-body">Congratulations on creating a recipe!</div>
          <div class="modal-footer">
            <!--<a href="/create"><button type="button" class="btn btn-default" data-dismiss="modal">Create another one</button></a>-->
            <a href="/yourRecipes"><button type="button" class="btn btn-default">View your recipes</button></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="footer navbar navbar-default navbar-fixed-bottom text-center">
      <a type="button" class="btn btn-lg" href="/">
          <span class="glyphicon glyphicon-home"></span>
      </a>
    </div>
  </body>

</html>
