<html>
  <head>
  	<title>Your Recipes</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
  	<link href="/css/bootstrap.css" rel="stylesheet">
  	<link href="/css/bootstrap-theme.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
  	<script src="/js/bootstrap.js"></script>
    <script src="/js/updateInput.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-static-top">
        <a type="button" class="btn btn-lg pull-left" href="javascript:history.back()">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      <div class="navbar-brand"><h3>Your recipe</h3></div>
      <div class="pull-right">
        <a tabindex="0" class="btn" role="button" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="This is where your recipe is displayed">
            <span class="glyphicon glyphicon-question-sign"></span>
        </a>
      </div>
    </nav>

    <div class="hero">
      <div class="btn-box">
          <button id="btn1" onclick="openSaved()">Saved</button>
          <button id="btn2" onclick="openCreated()">Created</button>
      </div>
      <div id="content1" class="content">
        {{#each recipes.[0].saved}}
        <a href="/recipe/{{name}}"><img src={{imageURL}}></a>
        {{/each}}
        <br><br><br><br>
      </div>
      <div id="content2" class="content">
        {{#each recipes.[1].created}}
        <a href="/viewCreated/{{name}}"><img src={{imageURL}}></a>
        {{/each}}
        <a href="/create"><img src="/images/plus.png"></a>
        <br><br><br><br>
      </div>
    </div>

    <div class="footer navbar navbar-default navbar-fixed-bottom text-center">
      <a type="button" class="btn btn-lg" href="/index">
          <span class="glyphicon glyphicon-home"></span>
	  <a type="button" class="btn btn-lg" style="margin-left: 30px"href="/find">
          <span class=" glyphicon glyphicon-search "></span></a>
	  <a type="button" class="btn btn-lg" style="margin-left: 30px"href="/create">
          <span class=" glyphicon glyphicon-pencil "></span></a>
	  <a type="button" class="btn btn-lg" style="margin-left: 30px"href="/yourRecipes">
          <span class=" glyphicon glyphicon-book "></span></a>
    </div>

    <script>
      var content1 = document.getElementById("content1");
      var content2 = document.getElementById("content2");
      var btn1 = document.getElementById("btn1");
      var btn2 = document.getElementById("btn2");

      function openSaved(){
        content1.style.display = "initial";
        content2.style.display = "none";
        btn1.style.color = "#DE7C00";
        btn2.style.color = "#000";
      }
      function openCreated(){
        content1.style.display = "none";
        content2.style.display = "initial";
        btn1.style.color = "#000";
        btn2.style.color = "#DE7C00";
      }
    </script>

  </body>

</html>
