body{
  background-color: rgb(237, 238, 238);
}

.carousel {
  box-shadow: 5px 10px 8px #aaaaaa;
  border-radius: 25px;
  overflow: hidden;
  max-width: 520px;
  margin: auto
}

.carousel h3 {
  text-align: center;
}

.carousel-caption p {
  color: rgb(255, 255, 255);
}

.big-btn a {
  padding: 20px;
  border-radius: 25px;
  box-shadow: 5px 10px 8px #888888;
  font-size: 150%;
  max-width: 520px;
  margin: auto;
}

.navbar-brand h3 {
  text-align: center;
}

.carousel-inner:hover {
  border-style:solid;
  border-color:rgb(141, 141, 141);
  border-radius: 25px;
}
