body{
  background-color: rgb(237, 238, 238);
}

.carousel {
  box-shadow: 5px 10px 8px #aaaaaa;
  border-radius: 25px;
  overflow: hidden;
  max-width: 520px;
  margin: auto
}

.carousel h3 {
  text-align: center;
}

.carousel-caption p {
  color: rgb(255, 255, 255);
}

.big-btn a {
  padding: 20px;
  border-radius: 25px;
  box-shadow: 5px 10px 8px #888888;
  font-size: 150%;
  max-width: 520px;
  margin: auto;
}

.navbar-brand h3 {
  text-align: center;
}

.hero{
  width: 80%;
  height: 450px;
  position: relative;
  margin: 10px auto;
}

.btn-box{
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.btn-box button{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
}

.btn-box button:hover {
  color: #ff7846
}

.content{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5% auto;
  position: absolute;
}

.content img {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 10%;
  border: 3px solid #ff7846;
}

#content1{
  display: initial;
}

#content2{
  display: none;
}

#btn1{
  color: #ff7846;
}